* {
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    // width: 12px;
    display: none;
  }
}

body {
  // min-height: 1000px;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

@font-face {
  font-family: jokerman;
  src: url('./Jokerman.ttf');
}
